.Layout{
    width: 100%;
    min-height: 100vh;
}
.Layout.light{
    color: var(--bs-dark);
    background: var(--bs-white);
}
.Layout.dark{
    color: var(--bs-white);
    background: var(--bs-dark);
}
