.MessagesReceived .list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MessagesReceived .list-group-item .left{
    display: flex;
    align-items: center;
}
.MessagesReceived .list-group-item header{
    display: flex;
    align-items: center;
    margin-right: 2em;
}
.MessagesReceived .list-group-item header img{
    height: 100px;
    margin-right: 1em;
    border-radius: .25em;
}
.MessagesReceived .list-group-item strong{
    margin-left: .25em;
}
